body { 
    margin: 0; 
}

canvas { 
    width: 800px; 
    height: 800px; 
}

.game-container {

}

#time {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}